<div class="row">
  <div class="col-md-6">
    <h3>Day 1 · Thurs 9/27</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="https://swc-uiuc.github.io/organization-genomics/">Data organization for genomics</a></td></tr>
      <tr><td>Morning</td><td><a href="http://swc-uiuc.github.io/shell-genomics/">Introduction to the command line</a></td></tr>
      <tr><td>Morning</td><td><a href="https://echo360.org/media/41f1ab66-fcc2-43f2-be28-626f02e171dc/public">Video Recording</a></td></tr>
      <tr><td>Afternoon</td> <td><a href="http://swc-uiuc.github.io/wrangling-genomics/">Wrangling genomics data</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://echo360.org/media/b42422b7-663d-4a1a-9978-071c344e5d77/public">Video Recording</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 · Fri 9/28</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="https://swc-uiuc.github.io/r-genomics/">Data analysis with R for genomics</a></td></tr>
      <tr><td>Morning</td><td><a href="https://echo360.org/media/1f6a8177-2bf1-49db-803f-37c4f05d3261/public">Video Recording</a></td></tr>
      <tr><td>Afternoon</td> <td> <a href="https://swc-uiuc.github.io/r-genomics/">Data visualization with R for genomics</a></td></tr>
      <tr><td>Afternoon</td><td><a href="">Video Recording Coming Soon!</a></td></tr>
    </table>
  </div>
</div>
